.navMenu {
  width: 100%;
  background-color: #fff;
  padding-top: 5px;
}

.isScrolling {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.navbar-brand {

  span {
    color: colors(deepBlue);
    font-weight: 500;
    vertical-align: middle;
    margin-left: -3px;
  }

  .nav-logo {
    width: 30px;
    vertical-align: middle;

  }
}

@include media-breakpoint(sm) {
  .navbar-brand {

    h2 {
      font-size: 21px;
    }
  }
}

@include media-breakpoint(md) {
  .navbar-brand {
    margin: -10px;

  }
}

.navToggler {
  background: none;
  border: none;

  img {
    width: 25px;
  }
}

.main-nav-brand {
  @include media-breakpoint(lg) {
    margin-top: -20px;
  }
}

.nav-links-container {
  position: absolute !important;
  left: 30% !important;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-top: -10px;

  .primary-btn {
    text-decoration: none;
    background-color: colors(mint-leaf);
    color: colors(white);
    width: 110px;
    height: 50px;
    font-weight: 500;
    font-size: 12px;
    padding: 18.5px;
  }

  .navLink {
    color: colors(deepBlue);
    padding-left: 16px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
  }
}

.nav-open {
  .top {
    margin-top: 30px;
    width: 100%;

    button {
      background: none;
      border: none;
      outline: none;
      position: relative;
      left: 75%;
    }

    img {
      width: 35px;
    }
  }

  .links {
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    .modal-profile {
      position: relative;
      margin-top: 30%;
      display: flex;
      justify-content: center;
    }

    ul {
      // margin-top: 50%;

      li {
        padding-bottom: 50px;

        a {
          color: colors(deepBlue);
          font-weight: 500;
          font-size: 25px;
          text-decoration: none;

          &:hover {
            color: colors(mint-leaf)
          }
        }
      }
    }
  }
}

.isScrolling {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}




.nav__profile {
  margin-top: -10px;
  position: relative;

  .profile__btn {
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    color: white;
    font-weight: 500;
    cursor: pointer;
    width: 70%;
    border-radius: 3px;

    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      position: absolute;
      top: 50px;
      border-radius: 3px;
      width: 130%;
      left: -15%;
      padding: 10px 0px;
    }

    &--logout {
      background-color: #E01608;
    }
  }

  .profile {
    display: flex;
    cursor: pointer;

    &__avatar {
      background-color: colors(deepBlue);
      width: 45px;
      height: 45px;
      color: white;
      text-align: center;
      border-radius: 100%;
      vertical-align: middle;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    &__name {
      vertical-align: middle;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      color: colors(deepBlue);
    }

    span {
      vertical-align: middle;
      display: flex;
      align-items: center;
      justify-content: center;

    }

  }
}