.navMenu {
  width: 100%;
}

.isScrolling {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.navbar-brand {


  span {
    color: colors(deepBlue);
    font-weight: 500;
    vertical-align: middle;
    margin-left: -3px;
  }

  .nav-logo {
    width: 30px;
    vertical-align: middle;

  }
}

@include media-breakpoint(sm) {
  .navbar-brand {

    h2 {
      font-size: 21px;
    }
  }
}

@include media-breakpoint(md) {
  .navbar-brand {
    margin: -10px;

  }
}