$colors: (deepBlue: #043053,
  white: #ffffff,
  light-green: #f5ffec,
  blue-gray: #768493,
  very-light-green: #f7fafc,
  very-deep-blue: #172a3b,
  mint-leaf: #00b894,
  gray: #f2f2f7,
  ash:#5D6A76,
);



$viewport: (desktop-width: 1200px,
  tablet-width: 500px,
  big-tablet-width: 820px,
  mobile-width: 300px,
  big-tablet-height: 940px,
  smaller-mobile-height: 640px,
);

